* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

main nav {
  font-family: "Lexend Deca", serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  height: 7%;
  padding: 0 30px;
  width: 100%;
}

main nav h2 {
  font-weight: 600;
  font-size: 1.6vw;
}

main nav i {
  border-radius: 50%;
  background-color: black;
  font-size: 1.1vw;
  color: white;
  padding: 8px;
}

main .center {
  padding: 20px 60px;
}

main .center h1 {
  font-family: "Lexend Deca", serif;
  font-size: 4vw;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 4.55vw;
}

main .center .center-in {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

main .center .center-in p {
  font-family: "Lexend Deca", serif;
  font-size: 1.15vw;
  font-weight: 300;
  line-height: 30px;
}

main .center .center-in .right {
  width: 20%;
}

main .center .center-in .right .elem {
  padding: 8px;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
}

main .center .center-in .right .elem a {
  font-family: "Lexend Deca", serif;
  font-size: 1.3vw;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

main .center .center-in .right .elem i {
  font-size: 1.4vw;
  opacity: 0;
}

main .center .center-in .right .elem:hover i {
  opacity: 1;
}

main .center .center-in .right .elem:hover a {
  text-decoration: underline;
}

.bottom {
  height: 33%;
  background: url("assets/image.jpg");
  background-size: cover;
  background-position: 0 7%;
}

@media (max-width: 600px) {
  main nav{
    gap: 20px;
    height: 7%;
    padding: 0 10px;
  }

  main nav h2 {
    font-weight: 500;
    font-size: 4vw;
  }
  
  main nav i {
    font-size: 4vw;
  }

  main .center {
    padding: 20px 20px;
  }
  
  main .center h1 {
    font-size: 7vw;
    line-height: 9vw;
  }
  
  main .center .center-in {
    margin-top: 20px;
    flex-direction: column;
  }
  
  main .center .center-in p {
    font-size: 3vw;
    line-height: 4.5vw;
  }
  
  main .center .center-in .right {
    width: 100%;
    margin-top: 38px;
  }
  
  main .center .center-in .right .elem {
    padding: 8px;
    border-top: 1.5px solid black;
    flex-direction: row-reverse;
  }
  
  main .center .center-in .right .elem a {
    font-size: 4vw;
    font-weight: 300;
    text-decoration: none;
    color: black;
  }
  
  main .center .center-in .right .elem i {
    font-size: 5vw;
    opacity: 1;
    rotate: 45deg;
  }

  
  .bottom {
    height: 38%;
  }
  
}
